<a href="https://colab.research.google.com/github/deadorablez/file1/blob/main/In_built_functions_and_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions
 are standalone tools that can be used in any specific taks
 Ex. print(), type() etc

# Methods
 speical tools for a specific task for an object {int, float,string, sets, tuple,sets,dict} like append in list - test_list.append(5) or convert string to uppercase - "umer".upper()
 '.'dot always shows is a mwthod

In [ ]:
#Taking Input from a user and assigning it to a variable
name = input("what is your name")
print("Hey " + name +"!")

what is your nameUmer
Hey Umer!

In [ ]:
mood = input("How is your mood today?") # input always considers everything as string.
print("I am feeling " + mood + "!")

How is your mood today?Amazing
I am feeling Amazing!

In [ ]:
age_str = input("Enter your age")
age = int(age_str)   #convert the string to interger
print("you'll be " + str(age+1) + " next year")

Enter your age25
you'll be 26 next year

#CRUD - basic oprations - Create Read Update Delete
 - done with the help of fn's and methods

#1.Create
methods - description
list() - to create new empty list objects
dict()
set()
tuple()
str()
int()

In [ ]:
#create a new list object
my_list = list([1,2,3])
print("my_list - ", my_list )

#create a new dictonary object
my_dict = dict({"name" : "Umer", "age" : 25})
print("my_dict -", my_dict)


#create a new set object
my_set = set(["apple", "cheyy", "banana"])
print("my_set -", my_set)

#create a new tuple object
my_tupple = tuple((1,2,3,4))
print("my_tupple -", my_tupple)

#create a new string object
my_str = str("hello word")
print("my_str -", my_str)

#create a new integer object
my_int = int(32)
print("my_int - ", my_int)

my_list -  [1, 2, 3]
my_dict - {'name': 'Umer', 'age': 25}
my_set - {'apple', 'banana', 'cheyy'}
my_tupple - (1, 2, 3, 4)
my_str - hello word
my_int -  32

#TypeCasting or typeconversion
converting one DT to another DT

In [ ]:
#typecasting from int to str
int = 42
my_str = str(int)
print("print typecaseting from int to str: ", type(int), type(my_str))

print typecaseting from int to str:  <class 'int'> <class 'str'>

In [ ]:
#typecasting from  str to int
my_string = '40'
my_int = int (my_string)
print("typecasting from str to int:", type(my_string), type(my_int))

TypeError: ignored

In [ ]:
#list to set
list = [2, 4,  6, 7]
my_set = set(list)
print("typecasting of list to set : ", type(list), type(my_set))

typecasting of list to set :  <class 'list'> <class 'set'>

#2.Read
read or retrieve data from an object
Methods:
**len()** -gives total no of items in an objects and is used for sequenntial DT - Ex. string, tuple, list,sets and dict.

**index()** -  returns the index of occurance of first element in a list - Ex. list

**get()** -use to fetch value of key in dict if key not present gives null Ex. Dict only

**find()** returns the index of occurance of first substring in a string, if not present retunr -1 Ex. for string

**count()** gives the no of occurance of a given element Ex. list, tuple ,str

In [ ]:
#length of list '
list = [1,3,5,7,9,11]
print("length of the list : ", len(list))

length of the list :  6

In [ ]:
#index of element in list
list = [1,3,5,7,9,11]
index = list.index(9)
print("index of the element(9):", index )

index of the element(9): 4

In [ ]:
#retrieve value from dict() using get()
my_dict = dict({"name" : "Umer", "age" : 25, "city" : "sringar"})
city = my_dict.get("city")
print("city: ", city)

city:  sringar

In [ ]:
#retrieving the index of a substring from a string
my_string = "Hello World"
index = my_string.find("World")
print("index of the World :", index)

index of the World : 6

In [ ]:
#count of an element in a list
list = [1,3,5,7,9,11,9,6,3,2,9]
count = list.count(9)
print("Count of the element 9 :", count)

Count of the element 9 : 3

#3.Update
used to modify exisiting object ot DT

**sorted()** sort the list, tupple or set in ⏬ ⏫

**append()** add an element to the end of list

**update()** add a new key value pair to a dictonary

**replace()** for string - replace a string with a new substring

**extend()** add mulltiple elemts to a list, tupple or set

In [ ]:
#sort list in ascending order
list = [1,3,5,7,9,11,9,6,3,2,9]
sorted_list = sorted(list)
print("Original list :", list)
print("Sorted list : ", sorted_list)

Original list : [1, 3, 5, 7, 9, 11, 9, 6, 3, 2, 9]
Sorted list :  [1, 2, 3, 3, 5, 6, 7, 9, 9, 9, 11]

In [ ]:
#sort list in decending  order
list = [1,3,5,7,9,11,9,6,3,2,9]
sorted_list = sorted(list, reverse=True)
print("Original list :", list)
print("Sorted list : ", sorted_list)

Original list : [1, 3, 5, 7, 9, 11, 9, 6, 3, 2, 9]
Sorted list :  [11, 9, 9, 9, 7, 6, 5, 3, 3, 2, 1]

In [ ]:
#append - add a new element at the end of the list
list = [1,3,5,7,9,11]
print("Original list: ", list)
list.append (5)
print("Apended list :", list)

Original list:  [1, 3, 5, 7, 9, 11]
Apended list : [1, 3, 5, 7, 9, 11, 5]

In [ ]:
#update() - add or update key value pair to a dictionary
my_dict = dict({"name" : "Umer", "age" : 25, "city" : "sringar"})
print("Original dictionary: ", my_dict)
my_dict.update({"age" : 29, "gender" : "male"})
print("New Dictionary after update :", my_dict)

Original dictionary:  {'name': 'Umer', 'age': 25, 'city': 'sringar'}
New Dictionary after update : {'name': 'Umer', 'age': 29, 'city': 'sringar', 'gender': 'male'}

In [ ]:
#replace() - existing substring with a new substring
my_string = "Hello World"
print("Original string :", my_string)
new_string = my_string.replace("Hello", "Hey")
print("New String after relace :", new_string)

Original string : Hello World
New String after relace : Hey World

In [ ]:
#extend() - add multiple elemts to a list
list = [1,3,5]
print("Original List :", list)
list.extend([4,7,9,11])
print("Extended list :", list)

Original List : [1, 3, 5]
Extended list : [1, 3, 5, 4, 7, 9, 11]

#Delete

**del()** deletes a specific var or object

**remove()** removes a specific object from list

**pop()** remove last element from list and returns the removed element as result

**clear()** removes all elements from a dictionary

**discard()** removesa specific element from a set, if exists

In [ ]:
#del()
a = 5
del (a)
print(a) # would result in error as we are deleting it

In [ ]:
#remove()
list = [1,2,3,4]
list.remove(3)
print(list)

[1, 2, 4]

In [ ]:
#pop()
my_list = [2,4,6,7,9]
my_list.pop()
print("Default one removes last element:", my_list)

poped_element_3 = my_list.pop(2)
print("When giving the index as 2 here :", poped_element_3)

Default one removes last element: [2, 4, 6, 7]
When giving the index as 2 here : 6

In [ ]:
#clear()
my_dict = dict({"name" : "Umer", "age" : 25, "city" : "sringar"})
my_dict.clear()
print(my_dict)

{}

In [ ]:
#discard()
my_set = {1,2,3,4,5}
my_set.discard(4)
print(my_set)

{1, 2, 3, 5}

#Miscillenous Functions

**STRINGS**

string.upper() - uppercase

string.lower()  -lowercase

string.title()  - first letter of each word in uppercase

string.replace  - replace old substring with a new substring

string.split(seperator) - splits string at separator

string.join(iterable) - merge two strings

string.isnumeric - is True if all characters present arr numbers else returns False

In [ ]:
string = "It is amazing day"
new_string = string.upper()
print(new_string)

IT IS AMAZING DAY

In [ ]:
string = "IT IS AMAZING DAY"
string_new = string.lower()

print(string_new)

it is amazing day

In [ ]:
string = "It is amazing day"
new_string = string.title()
print(new_string)

It Is Amazing Day

In [ ]:
string = "It is amazing day"

new_string = string.replace("Awesome", "Amazing")

print(new_string)

It is amazing day

In [ ]:
string = "It is amazing day"

new_string = string.split("is")

print(new_string)

['It ', ' amazing day']

In [ ]:
string = "It is amazing day"

new_string = string.split("is")

print(new_string)

In [ ]:
string = "It is amazing day"

new_string = "*" . join (string)

print(new_string)

I*t* *i*s* *a*m*a*z*i*n*g* *d*a*y

In [ ]:
#insert() for list
list = [2, 4, 6, 8, 10]
list.insert(3, 99) #insert 99 at index 3
print(list)
list.reverse() #reverse order
print(list)
list.copy() #create copy
print(list)

[2, 4, 6, 99, 8, 10]
[10, 8, 99, 6, 4, 2]
[10, 8, 99, 6, 4, 2]

#SET

set.add(item)

set.union(set2)

set.intersection(set2)

set.difference(set2)

set.symmetric_difference(set2) -  not present in both the sets

set.copy()

#Dictionary

dict.keys()

dict.values()

dict.items() - returns all key value pair

dict.get(key,default)  - can get a particular key