<a href="https://colab.research.google.com/github/deadorablez/file1/blob/main/phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# a = 5
print('hi all')
# b = 3
# c = a+b
# print(c)

hi all

In [ ]:
a3 = "Umer has ablity to DO it"
a3.lower()
a3.upper()

'UMER HAS ABLITY TO DO IT'

In [ ]:
# R principle amount = 25000 Time = 2 year 7% = rate of interest
# s principle amount = 15000  rate of interrest = 12%

 int a = 25000
int t = 2
int = r = 0.7
 C_I = a*(1 + r)**2
 print = C_I

IndentationError: ignored

In [ ]:
#take an input from a user and see if it an even or odd
print("input some integer number")
a = int(input())
reminder = a%2 == 0
print("reminder = ", reminder)
print("datatype of the reminder =", type(reminder))
if (reminder):
  print("Even")
else :
  print("odd")

In [ ]:
print("two numbers from the user")

a = int(input("enter first number"))
b = int(input("enter second number"))
result = (a+b) <= 100
if result:
  print("century")
else:
  print("failed")

two numbers from the user
enter first number52
enter second number39
century

In [ ]:
my_string = ("today is the match of KKR in IPL 2023")
print("KKr word there in the location = ", my_string.find("KKR"))

KKr word there in the location =  22

In [ ]:
s2 = "hey you are doing awesome work but the work hasn't finished yet so make sure you finsidh the work which you have started"
s2.count("work")

3

In [ ]:
#replace substring with another
#this is  day 2 of python.
#rreplace "python" with C.
#resut "this is day 2 of C"
demo_s1 = "this is  day 2 of python"
demo_s1.replace("python","c")

'this is  day 2 of c'

#can you store all ages of the students in class
#can you store all names of the students in class.

In [ ]:
ages = [24,36,21,34,23,32,33 ] #[] madatory in python to understand list
sum(ages)
#above list is ordered or sequential data strucutre
#list elements accessed via locaion or index

203

In [ ]:
#ex. we have to print any particular value - 21
#list is based on indexes
#24 is on 0th, 36 is 1st, 21 is in 2nd location, and so on
#21 is on 2nd location
print(ages[2])

21

In [ ]:
names = ["umer","akbar","yawer","shaban"]
#can store float or boolean as well.

**list** once delcleared can be modified - we can add, delete, insert new value or sort etc
there are built in fn's to do the same.... "mutalablity of data type"

#tuple
tupple is similar to list
only difference - tupple is immutable - once declered can't be changed.
- when need to store constants or when any other external module may accidently change the values and to stop that we use tupple. (why use tupple

```
# This is formatted as code
```

)

\\Probelm in **List** - if we have to store vaues correosponding (mapping) to some other value
**List** doesn't work there and we need the **Dictonary**
Dictonary------(key:value)pairs
#Dictionary key should be unique and can't be duplicate.

In [ ]:
ages_dict = {"umer":25, "utsab:36,""yawer":28} #always put dic in {} bracket and {K:V}
#accessing the value age for a name
#won't use postion but will use key.
print(ages_dict["umer"])

25

In [ ]:
ages_section_dict = {"sec1": [12,20,30,25], "sec2": [25,35,65,45], "sec3": [89,56,45]}
print(ages_section_dict ["sec3"])

[89, 56, 45]

#example for compasrison oprators
== equality
!= inequality

In [ ]:
basket1 = 12
basket2 = 8
print(basket1 > basket2)
print(basket2 < basket1)
print(basket1 == basket2)
print(basket2 != basket1)

True
True
False
True

#example for logical oprator
#AND, OR and NOT

In [ ]:
name = "ravi"
skill = "python"
print ((name == "ravi") and (skill == "python")) ##True and true
print((name == "ravi") and (skill == "java")) ##True and false
print((name == "ram") and (skill == "python")) ##false and true
print((name =="ram") and (skill == "java")) ##false and false

True
False
False
False

In [ ]:
x = 5
y = 10
z = 5
print((x < y) and (x == z))
print((x > y) or (x == z))
print(not ( x==z ))

True
True
False

In [ ]:
a = 1
print(type(a))

<class 'int'>

In [ ]:
bag_1 = 15
bag_2 = 5

#check if wt. of both bags should be less than 13 Kg
#if result is false, print("Sorry, you can't go through")
#Else, if result is true, print("enjoy your trip")
bag_1 < 13 and bag_2 < 13

False

In [ ]:
x = 5
x += 3   #additional operator x' = x+3
print(x)
x -=2    #subtraction operator x = x-2
print(x)

8
6

#Identity operator
Compares the memory address of 2 elements

In [ ]:
A = [1,2,3]
B = [1,2,3]
print(A is B) #False
print (A == B)  #True as '==' compares value not memnory

False
True

In [ ]:
a = 5
b = a
print(a is b) #identity operator --- same memory so true
id(5) #memory address of 5

True

140698129635760

#Membership Opr -in
to check if a particular element is available in a  sequence or not -- string, list or tuple

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"
print("fox" in sentence) #true
print("cat" in sentence) #false

###can use not in as well
print("cat" not in sentence)   #true
print("fox" not in sentence)   #false

True
False
True
False

In [ ]:
name = "Umer Farooq"
print("r" in name)

True

In [ ]:
tupple= [
    "tupple is similar to list only difference - tupple is immutable - once declered can't be changed",
"when need to store constants or when any other external module may accidently change the values and to stop that we use tupple",
 "This is formatted as code"
]
print("tupple" in tupple[0])

True

examples

In [ ]:
list1 = [1,2,3] # "+" to concanate two list
list2 = [3,4,5]
print(list1 + list2)

[1, 2, 3, 3, 4, 5]

In [ ]:
# '*' to repeat a list
list1 = [1,2,3]
result = list1 * 3
print(result)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#String concatenation
String1 = "hey"
String2 = "boy"
result = String1 + String2
print(result)

heyboy

In [ ]:
String1 = "hey"
String2 = "boy"
result = String1 + " " + String2  #+ and space b/w ""
print(result)

hey boy

In [ ]:
#REPEATATION STRING
string = "harry"
result = string * 3
print(result)

harryharryharry

In [ ]:
# tuples concatenation
tuple1 = (22, 33, 44)
tuple2 = (55, 66, 77)
result = tuple1 + tuple2
print(result)

#tuple repeat
result2 = tuple2 *3
print(result2)

(22, 33, 44, 55, 66, 77)
(55, 66, 77, 55, 66, 77, 55, 66, 77)

In [ ]:
#use 'del' to remove a keyword to remove an element from a dictionary
my_dict = {"apple" :3, "banana" :4, "guava" : 5}
del my_dict [ "banana" ]
print(my_dict)

{'apple': 3, 'guava': 5}

In [ ]:
my_dict = {"apple" :3, "banana" :4, "guava" : 5}
print("apple" in my_dict)
print("mango" in my_dict)

True
False

In [ ]:
#copying  DICTONARY
my_dict = {"apple" :3, "banana" :4, "guava" : 5}
new_dict = my_dict.copy()
print(new_dict)

del new_dict["guava"]

print(new_dict)

print(my_dict)

{'apple': 3, 'banana': 4, 'guava': 5}
{'apple': 3, 'banana': 4}
{'apple': 3, 'banana': 4, 'guava': 5}

In [ ]:
#clear is used to remove the all elemts from dict

my_dict = {"apple" :3, "banana" :4, "guava" : 5}

my_dict.clear()

print(my_dict)

{}

In [ ]:
set_a = {2, 4, 6}
set_b = {2, 3, 4}

#union opeartor |
print( set_a | set_b )

#intersection opr
print( set_a & set_b )

#difference opr
print( set_a - set_b )

{2, 3, 4, 6}
{2, 4}
{6}

In [ ]:
books = [
    "Python for Data Science Handbook by Jake VanderPlas",
    "The Pragmatic Programmer by Andrew Hunt and David Thomas",
    "Python Machine Learning by Sebastian Raschka",
    "The Alchemist by Paulo Coelho",
]